.head {
  text-align: center;
}

.container {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

.conduct {
  border-radius: 2%;
  margin: 10px;
  background-color: rgb(42, 70, 94);
  font-size: 20px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  a {
    text-decoration: none;
    color: white;
  }
}
