@import url('https://fonts.googleapis.com/css?family=Lilita+One');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.background {
  background-color: #2a465e;
  margin-bottom: 1.45rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(42, 70, 94, 0.2),
      rgba(42, 70, 94, 1)
    ),
    url('../images/background.png');
  background-size: cover;
  background-position: top;
  text-align: center;
  display:block;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  a {
    color: white;
    text-decoration: none;
  }
}

.header {
  min-height: 350px;
  font-family: 'Lilita One', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 10%;

}

.subheader {
  font-size: 60px;
  color: #FDCF00;
}

.join {
  border-radius: 2%;
  font-size: 30px;
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  background-color: #FF803E;
  color: white;
}


  @media(min-width:770px){
    .header {
      min-height: 500px;
      font-family: 'Lilita One', cursive;
      font-size: 100px;
      text-align: center;
      padding-top: 10%;

    }
}
